{% extends "base_generic.html" %}
{% block content %}
<h1>Enter a symbol, select baits and organism, or select an experiment for lookup</h1>
<form role="form" action="{% url 'network:lookup' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>

<br>
{% if not symbol is None %}
<h4>Result for symbol [<span style="color: red">{{ symbol }}</span>]  -
  organism [<span style="color: red">{{ org }}</span>]  -
  cell line [<span style="color: red">{{ cline }}</span>]  -
  bait <span style="color: red">{{ bait }}</span>  -
  experiment [<span style="color: red">{{ expt }}</span>]:</h4>
  

<table class="table table-hover">
  <tr>
    <th>ifile</th>
    <th>prey</th>
    <th>rank</th>
    <th>NSAF</th>
    <th>PSMs</th>
    <th>Length</th>
    <th>Coverage</th>
    <th>Unique peptides</th>
    <th>Cell line</th>
  </tr>
    
  {% for values in choices %}
  <tr>
    {% for v in values %}
      <td><b>{{ v }}</b></td>
    {% endfor %}    
  <tr>
  {% endfor %}
    
</table>
{% endif %}
{% endblock %}
